a {
  all: unset;
}
.content {
  display: inline;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-items {
  width: 100px;
  height: 100px;
}
.content-items img {
  width: inherit;
  height: inherit;
}
.nfp-content-wrapper {
  padding: 5px;
  font-size: 16px;
}
.nfp-content-msg a {
  all: unset;
  color: royalblue;
}
