.content {
  display: inline;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-items {
  width: 100px;
  height: 100px;
}
.content-items img {
  width: inherit;
  height: inherit;
}
