.content {
  display: inline;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-items {
  width: 100px;
  height: 100px;
}
.content-items img {
  width: 100px;
  height: 100px;
}
.is-hover-content-items {
  width: 90px;
  height: 90px;
  padding: 5px;
  word-wrap: break-word;
  overflow: auto;
}